@model PartnerViewModel

@{
  ViewBag.Title = "Ažuriranje partnera";
}

<form asp-action="Edit"
      asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
  <input type="hidden" asp-for="IdPartnera" />
  <input type="hidden" asp-for="TipPartnera" class="tippartnera" />
  @if (Model.TipPartnera == "T")
  {
    <div class="mb-3 row">
      <label asp-for="NazivTvrtke" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-5">
        <input asp-for="NazivTvrtke" class="form-control" />
      </div>
      <div class="form-text col-sm-5"><span asp-validation-for="NazivTvrtke" class="text-danger"></span></div>
    </div>
    <div class="mb-3 row">
      <label asp-for="MatBrTvrtke" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-5">
        <input asp-for="MatBrTvrtke" class="form-control" />
      </div>
      <div class="form-text col-sm-5"><span asp-validation-for="MatBrTvrtke" class="text-danger"></span></div>
    </div>
  }
  else
  {
    <div class="mb-3 row">
      <label asp-for="ImeOsobe" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-5">
        <input asp-for="ImeOsobe" class="form-control" />
      </div>
      <div class="form-text col-sm-5"><span asp-validation-for="ImeOsobe" class="text-danger"></span></div>
    </div>
    <div class="mb-3 row">
      <label asp-for="PrezimeOsobe" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-5">
        <input asp-for="PrezimeOsobe" class="form-control" />
      </div>
      <div class="form-text col-sm-5"><span asp-validation-for="PrezimeOsobe" class="text-danger"></span></div>
    </div>
  }
  <div class="mb-3 row">
    <label asp-for="Oib" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="Oib" class="form-control" />
    </div>
    <div class="form-text col-sm-5"><span asp-validation-for="Oib" class="text-danger"></span></div>
  </div>
  <div class="mb-3 row">
    <label asp-for="AdrPartnera" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="AdrPartnera" class="form-control" />
    </div>
    <div class="form-text col-sm-5"><span asp-validation-for="AdrPartnera" class="text-danger"></span></div>
  </div>
  <div class="mb-3 row">
    <label asp-for="IdMjestaPartnera" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="NazMjestaPartnera" class="form-control" data-autocomplete="mjesto"
             data-autocomplete-placeholder-name="mjestopartnera"
             value="@Model.NazMjestaPartnera" />
      <input type="hidden" asp-for="IdMjestaPartnera" data-autocomplete-placeholder="mjestopartnera" />
    </div>
    <div class="form-text col-sm-5"><span asp-validation-for="IdMjestaPartnera" class="text-danger"></span></div>
  </div>
  <div class="mb-3 row">
    <label asp-for="AdrIsporuke" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="AdrIsporuke" class="form-control" />
    </div>
    <div class="form-text col-sm-5"><span asp-validation-for="AdrIsporuke" class="text-danger"></span></div>
  </div>
  <div class="mb-3 row">
    <label asp-for="IdMjestaIsporuke" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-5">
      <input asp-for="NazMjestaIsporuke" class="form-control" data-autocomplete="mjesto"
             data-autocomplete-placeholder-name="mjestoisporuke"
             value="@Model.NazMjestaIsporuke" />
      <input type="hidden" asp-for="IdMjestaIsporuke" data-autocomplete-placeholder="mjestoisporuke" />
    </div>
    <div class="form-text col-sm-5"><span asp-validation-for="IdMjestaIsporuke" class="text-danger"></span></div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <button class="btn btn-primary" type="submit">Dodaj</button>
      <a asp-action="Index"
         asp-route-page="@ViewBag.Page"
         asp-route-sort="@ViewBag.Sort"
         asp-route-ascending="@ViewBag.Ascending"
        class="btn btn-secondary">Odustani</a>
    </div>
  </div>

  <div class="mb-3 row" asp-validation-summary="All">
  </div>

</form>


@section styles{
  <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
  <partial name="IncludeValidation" />
  <script src="~/lib/jqueryui/jquery-ui.js"></script>
  <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}