@model ArtiklViewModel

<tr>
  <td class="text-left">
    @if (Model.ImaSliku)
    {
      <img src="@Url.Action("GetImage", "Artikl", new { id = @Model.SifraArtikla, hash=Model.ImageHash })"
           class="malaslika" />
    }
  </td>
  <td class="text-left">@Model.SifraArtikla</td>
  <td class="text-left">@Model.NazivArtikla</td>
  <td class="text-left">@Model.JedinicaMjere</td>
  <td class="text-right text-nowrap">@Model.CijenaArtikla.ToString("C2")</td>
  <td class="text-left"><input type="checkbox" @(Model.Usluga ? "checked" : "") disabled />  </td>
  <td class="text-left">@Model.TekstArtikla</td>
  <td>    
    <a asp-action="Edit"
       asp-route-id="@Model.SifraArtikla"      
       class="btn btn-sm edit"
       data-get-ajax="@Url.Action("Get", new { id = Model.SifraArtikla })"
       data-edit-ajax="@Url.Action("Edit", new { id = Model.SifraArtikla })"
       title="Ažuriraj"><i class="fas fa-edit"></i></a>
  </td>
  <td>   
    <form asp-action="Delete" method="post"
          asp-route-id="@Model.SifraArtikla" >
      <button class="btn btn-sm delete"
              data-delete-ajax="@Url.Action("Delete", new { id = Model.SifraArtikla })"
              title="Obriši">
        <i class="fas fa-trash-alt"></i>
      </button>
    </form>
  </td>
</tr>