<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] (RPPP)</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  @RenderSection("styles", required: false)
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
          <img class="logo-icon" src="~/favicon.ico" />
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <vc:navigation />
        </div>
      </div>
    </nav>
  </header>


  <main role="main">
    <div>
      <partial name="ShowMessage" />
    </div>
    @RenderBody()
  </main>


  <footer>
    <p class="text-center">&copy; 2020 - RPPP, ZPR, FER</p>
  </footer>
  <script>
    window.applicationBaseUrl = '@Url.Content("~/")';
  </script>

  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  @*<script src="~/lib/font-awesome/js/all.js"></script>*@ @*using css instead of js - see https://fontawesome.com/how-to-use/on-the-web/other-topics/performance*@
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
