@model DokumentiViewModel

@{
  ViewBag.Title = "Dokumenti";
}

<div class="container">
  <div class="form-group row">
    <div class="col-sm-4">
      <h2>Pregled svih dokumenata</h2>
      <br />
      <a asp-action="Create">Unos novog dokumenta</a>
    </div>
    <div class="col-sm-7">
      <partial name="KriterijPretrage" model="Model.Filter" />
    </div>
  </div>
</div>

<pager page-info="@Model.PagingInfo" page-filter="@Model.Filter" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>


<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)" asp-route-filter="@Model.Filter">
          Id dokumenta
        </a>
      </th>
      <th>
        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)" asp-route-filter="@Model.Filter">
          Partner
        </a>
      </th>
      <th>
        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)" asp-route-filter="@Model.Filter">
          Datum dokumenta
        </a>
      </th>
      <th>
        <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)" asp-route-filter="@Model.Filter">
          Iznos dokumenta
        </a>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var dokument in Model.Dokumenti)
    {
      <tr>
        <td class="text-center">
          <a asp-action="Show"
             asp-route-id="@dokument.IdDokumenta"
             asp-route-page="@Model.PagingInfo.CurrentPage"
             asp-route-sort="@Model.PagingInfo.Sort"
             asp-route-ascending="@Model.PagingInfo.Ascending"
             asp-route-filter="@Model.Filter"
             asp-route-position="@dokument.Position">
            @dokument.IdDokumenta
          </a>
        </td>
        <td class="text-left">@dokument.NazPartnera</td>
        <td class="text-center">@dokument.DatDokumenta.ToString("dd.MM.yyyy.")</td>
        <td class="text-center">@dokument.IznosDokumenta.ToString("C2")</td>
        <td>
          <a asp-action="Edit"
             asp-route-id="@dokument.IdDokumenta"
             asp-route-page="@Model.PagingInfo.CurrentPage"
             asp-route-sort="@Model.PagingInfo.Sort"
             asp-route-ascending="@Model.PagingInfo.Ascending"
             asp-route-filter="@Model.Filter"
             asp-route-position="@dokument.Position"
             class="btn btn-warning btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </td>
        <td>
          <form asp-action="Delete" method="post"
                asp-route-page="@Model.PagingInfo.CurrentPage"
                asp-route-sort="@Model.PagingInfo.Sort"
                asp-route-ascending="@Model.PagingInfo.Ascending"
                asp-route-filter="@Model.Filter">
            <input type="hidden" name="IdDokumenta" value="@dokument.IdDokumenta" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

@section styles{
  <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
   <script src="~/js/pager.js" asp-append-version="true"></script>
  <script src="~/lib/jqueryui/jquery-ui.js"></script>
  <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}