@model DocumentViewModel
@{
  ViewBag.Title = "Change document";
}

<partial name="PreviousNext" />
<hr />


<div class="container">
  <form method="post" asp-action="Edit"
        asp-route-page="@ViewBag.Page"
        asp-route-sort="@ViewBag.Sort"
        asp-route-ascending="@ViewBag.Ascending"
        asp-route-filter="@ViewBag.Filter"
        asp-route-position="@ViewBag.Position">
    <input type="hidden" asp-for="DocumentId" />
    <div asp-validation-summary="All" class="form-group row"></div>

    <div class="form-group row">
      <label asp-for="DocumentType" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-2">
        <select class="form-select" asp-for="DocumentType">
          <option disabled selected value=""></option>
          <option value="R-1">R-1</option>
          <option value="N">Normal</option>
        </select>
      </div>
      <label asp-for="VatAsInt" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="VatAsInt" class="form-control" />
      </div>
      <label asp-for="DocumentDate" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-2">
        <input asp-for="DocumentDate" class="form-control datum" />
      </div>
      <div class="col-sm-2">
        <button id="save" type="submit" class="btn btn-sm btn-primary save" title="Spremi"><i class="fas fa-save"></i></button>
        <a class="btn btn-sm btn-primary cancel"
           asp-action="Edit"
           asp-route-id="@Model.DocumentId"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           asp-route-filter="@ViewBag.Filter"
           asp-route-position="@ViewBag.Position"
           title="Osvježi">
          <i class="fas fa-sync-alt"></i>
        </a>
        <a class="btn btn-sm btn-primary cancel"
           asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           asp-route-filter="@ViewBag.Filter"
           title="Odustani">
          <i class="fas fa-undo-alt"></i>
        </a>
      </div>
    </div>

    <div class="form-group row">
      <label asp-for="DocumentNo" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-2">
        <input asp-for="DocumentNo" class="form-control" />
      </div>
      <label asp-for="PartnerId" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="PartnerId" readonly="readonly" class="form-control" data-autocomplete-placeholder="partners" />
      </div>
      <div class="col-sm-3">
        <input class="form-control" data-autocomplete="partners" asp-for="@Model.PartnerName" />
      </div>
    </div>

    <div class="form-group row">
      <label asp-for="PreviousDocumentId" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-1">
        <input asp-for="PreviousDocumentId" readonly="readonly" class="form-control" data-autocomplete-placeholder="documents" />
      </div>
      <div class="col-sm-3">
        <input class="form-control" data-autocomplete="documents" value="@Model.PreviousDocumentName" />
      </div>
      <label asp-for="Amount" class="col-sm-1 col-form-label"></label>
      <label class="col-sm-2 col-form-label">@Model.Amount.ToString("C2")</label>

    </div>



    <div class="col-sm-10">
      <partial name="Items" model="Model.Items" />
    </div>
  </form>
</div>

<partial name="NewItemTemplate" />

@section styles{
  <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
  <partial name="IncludeValidation" />
  <script src="~/lib/jqueryui/jquery-ui.js"></script>
  <script src="~/js/autocomplete.js" asp-append-version="true"></script>
  <script src="~/js/documents.js" asp-append-version="true"></script>
}
